body {
    color: #333;
}
p, a, li {
    letter-spacing: 0.4px
}
#breadcrumb {
    margin: 3px 0 30px 0;
}
/*FAIXA TOPO*/
.topo {
    background: #fff;
    width: 100%;
    float: left;
    height: 30px;
    padding: 8px 0 0 0;  
    font-size: 12.5px; 
    color: #333; 
    margin-bottom: 0;
    border-bottom: 1px solid #b3b3b3;
}
.topo a {
    font-size: 12.5px;
    color: #333;
    text-decoration: none;
    padding: 0 8px;
}
.topo p {
    font-size: 14px;
}
.topo .tel {
}
.topo .tel a i {
    padding: 0 3px 0 0;
}
.topo .redes-topo {
    text-align: center
}
.topo .redes-topo i {
    margin: 0;
    font-size: 16px;
    text-align: center;
}
/*FIM FAIXA TOPO*/

/*INICIO HEADER*/
header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fff;
    z-index: 1000;
    margin: 0 auto 0 0;
    box-shadow: 0 1px 13px 2px #7d7d7d17;
}
header .logo {
    float:left;
    margin:3px 0
}
header .logo a {
    display:block;
    text-decoration:none
}
/* FIM HEADER */

/* INICIO MENU */
.menu {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}
.menu-list {
    padding:0;
    margin:0
}
.menu .menu-list,.menu .sub-menu {
    list-style:none
}
.menu a {
    color:#333;
    text-decoration:none;
    display:block;
    cursor:pointer
}
.menu > .menu-list > li {
    display:inline;
    position:relative
}
.menu > .menu-list > li > a {
    display:inline-block;
    padding:10px 20px;
    margin:0;
    font-weight: bold; 
    transition: all 0.5s; 
}
.menu > .menu-list > li:hover > a {
    background: #b3b3b3;
    color: #fff;
    border-radius: 5px;
    transition: all 0.5s;
}
.menu > .menu-list > li:hover > .sub-menu {
    display:block
}
.menu > .menu-list > li > .sub-menu {
    position:absolute;
    left:0;
    min-width:200px;
    z-index:100;
    display:none;
    padding:0;
}
.menu > .menu-list > li > .sub-menu > li > a {
    padding:10px 20px;
    background:#fff
}
.menu > .menu-list > li > .sub-menu > li:hover > a {
    background:#b3b3b3
}

/* Menu Mobile */
.slicknav_btn {
    background-color:#000
}
.slicknav_menu {
    background-color:#292929
}
.slicknav_brand a {
    color:#fff;
    font-size:14px;
    display:block;
    padding:0px 5px;
    font-weight:bold
}
.slicknav_brand a:active, .slicknav_brand a:hover, .slicknav_brand a:focus {
    text-decoration:none
}

/* Rodapé */
footer {
    padding:30px 15px;
    background-color:#292929;
    color:#fff;
    margin-top:10px
}
footer h5 {
    font-size:14px
}
footer ul {
    list-style-type:none;
    padding:0px
}
footer a {
    text-decoration:none
}
footer .ass-q {
    text-align:right;
    font-size:14px;
    margin:0
}

/* DESENVOLVIDO POR ABSOLUT SBO */
footer .footer-copyright {
    padding:5px 0;
}
footer .footer-copyright a {
    text-decoration:none;
    color: #fff;
    text-align:center;
}
footer .footer-copyright p.absolutsbo {
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 13px;
    letter-spacing: 0.5px
}
footer .footer-copyright p.absolutsbo strong {
    color:#ff5726;
}
.baixa-absolut {
    border: 1px solid #ff5726;
    width: 40px;
    margin: 3px auto;
    border-radius: 20px
}
/* FIM DESENVOLVIDO POR ABSOLUT SBO */

/* BOTÕES LATERAL/FIXO */
.btn-fixo a {
    position: fixed;
    right:0;
    align-items: center;
    text-decoration: none;
    transition: 0.3s all ease;
    box-shadow: -1px 2px 3px 1px #888888b0;
    font-size: 28px;
    border-radius: 5px 0 0 5px;
    background: #fff;
    z-index: 100000
}
.btn-fixo a.btn-telephone i {
    color:#000;
}
.btn-fixo a.btn-whatsapp i {
    color:#25d366;
}
.btn-fixo a.btn-mail i {
    color:#e43434;
}
a.btn-telephone {
    top: 180px;
    padding: 11px 12px;
    transition: 0.6s all;
}
a.btn-whatsapp {
    top: 260px;
    transition: 0.6s all;
    padding: 9px 12.3px;
    font-size: 31px
}
a.btn-mail {
    top: 340px;
    transition: 0.6s all;
    padding: 11px 12px;
}
.btn-fixo a:hover {
    background: #eaeaea;
    transition: 0.6s all;
}
*.sobre-nos {
    float: left;
    width: 100%;
    background: #fff;
}
.sobre-nos h2 {
    font-size: 43px;
    text-align: center;
    margin-bottom: 12px;
}
/* Main */
main.main-content h1 {
    padding-bottom: 11px;
    margin: 13px 0 0 0;
    border-bottom: 1px solid #efefef;
    font-size: 28px;
}
main h2 {
    font-size:22px
}
main.main-content p strong {
    font-weight:normal
}
/* Ajustes Mobile */
@media screen and (max-width: 40em) {
    .box-btn-modal-orcamento, .header-container-main {
        display:none
    }
    .topo {
        display: none;
    }
    .btn-fixo {
        display: none;
    }
    .menu-footer-mobile i.fas.fa-phone-alt {
        color: #17d700;
    }
    .menu-footer-mobile i.fab.fa-whatsapp {
        color: #04d544;
    }
    .menu-footer-mobile i.fas.fa-envelope-open-text {
        color: #fb4141;
    }
    .menu-footer-mobile i.fas.fa-arrow-up {
        color: #0089ff;
    }
}