main.main-content {
    margin-top: 170px;  
    margin-bottom: 40px;
}
/* PRINCIPAIS CORES */
main.main-content h1, main.main-content h2, main.main-content h4, main.main-content h5, 
.sidebar-main ul li a, .box-btn-modal-orcamento p strong {
    color:#4c4c4c
}
.sidebar-main ul li a:hover {
    border-color:#ccc #ccc #ccc #333
}
.active-link-sidebar {
    color: #000;
    font-weight:bold;
}
/* FIM PRINCIPAIS CORES */

/* BOTÃO PAG. PALAVRA-CHAVE */
.box-btn-modal-orcamento {
    margin-top: 18px;
}
.box-btn-modal-orcamento a {
    width: 40%;
    float: left;
    text-align: center;
    padding: 8px 0;
    font-size: 34px;
    background: white;
    text-transform: none;
    text-decoration: none;
    margin: 0 13px 13px;
    transition: 0.6s all;
    border-radius: 5px;
    box-shadow: 2px 2px 0 #888888b0;
    transition: 0.6s all;
}
.box-btn-modal-orcamento a.whats-buttom {
    color: #25D366;
    border: 1px solid #25D366;
}
.box-btn-modal-orcamento a.whats-buttom:hover {
    background: #25D366;
    color: #fff;
    transition: 0.6s all;
}
.box-btn-modal-orcamento a.telefone-buttom {
    color: #8c8c8c;
    border: 1px solid #8c8c8c;
}
.box-btn-modal-orcamento a.telefone-buttom:hover {
    background: #8c8c8c;
    color: #fff;
    transition: 0.6s all;
}
/* FIM BOTÃO PAG. PALAVRA-CHAVE */

/* TEXTO PC */
p {
    line-height: 20px;
    font-size: 13.5px;
    color: #5a5a5a;
    letter-spacing: 0.3px;
}
/* FIM TEXTO PC */

/* SIDEBAR */
.sidebar-main {
    float: left;
    width: 100%;
}
.sidebar-main h3 {
    padding:0;
    margin:8px 0;
    border: 1px solid #9c9c9c;
    background: #fff;
    border-radius: 3px;
    box-shadow: 2px 2px 0 #888888b0;
}
.sidebar-main h3 a {
    display:block;
    text-align:center;
    padding:10px 0;
    text-decoration:none;
    color:#333
}
.sidebar-main ul {
    padding:0;
    margin:0;
    overflow: scroll;
    overflow-x: visible;
    height: 636px;
    border-bottom: 1px solid #f4f4f4;
}
.sidebar-main ul li {
    list-style-type:none;
    margin:3px 0;
}
.sidebar-main ul li a {
    font-size:12px;
    text-decoration:none;
    display:block;
    padding:8px 0 8px 6px;
    border-left:2px solid #cccccc;
}
.sidebar-main ul li a:hover {
    background-color:#f5f5f5;
}
.sidebar-main ul li a.active-link-sidebar {
    border-left: 6px solid #fff;
}
.active-link-sidebar {
}
.sidebar-main ::-webkit-scrollbar-track {
    display: none;
    background-color: #333;
}
.sidebar-main ::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
    border-radius: 50px
}
.sidebar-main ::-webkit-scrollbar-thumb {
    background: #d6d4d4;
    border-radius: 50px;
}
/* FIM SIDEBAR */

/* VEJA TÁMBEM */
main.main-content h5 {
    letter-spacing: 0.6px;
    font-size:26px;
}
.col-lg-2 {
    height: 235px;
}
/* FIM VEJA TÁMBEM */
@media screen and (max-width: 40em) {
    .img-right {
        float: left;
        margin: 0;
        width: 100%;
    }
}